* {
  margin: 0;
  padding: 0;
}

.text-primary {
  color: blue;
}

.text-hover-primary:hover {
  color: blue;
}

.bg-primary {
  background-color: blue;
}

.text-primary-light-1 {
  color: #1a1aff;
}

.bg-primary-light-1 {
  background-color: #1a1aff;
}

.text-primary-dark-1 {
  color: #0000e6;
}

.bg-primary-dark-1 {
  background-color: #0000e6;
}

.text-primary-light-2 {
  color: #3333ff;
}

.bg-primary-light-2 {
  background-color: #3333ff;
}

.text-primary-dark-2 {
  color: #0000cc;
}

.bg-primary-dark-2 {
  background-color: #0000cc;
}

.text-primary-light-3 {
  color: #4d4dff;
}

.bg-primary-light-3 {
  background-color: #4d4dff;
}

.text-primary-dark-3 {
  color: #0000b3;
}

.bg-primary-dark-3 {
  background-color: #0000b3;
}

.text-primary-light-4 {
  color: #6666ff;
}

.bg-primary-light-4 {
  background-color: #6666ff;
}

.text-primary-dark-4 {
  color: #000099;
}

.bg-primary-dark-4 {
  background-color: #000099;
}

.text-primary-light-5 {
  color: #8080ff;
}

.bg-primary-light-5 {
  background-color: #8080ff;
}

.text-primary-dark-5 {
  color: navy;
}

.bg-primary-dark-5 {
  background-color: navy;
}

.text-primary-light-6 {
  color: #9999ff;
}

.bg-primary-light-6 {
  background-color: #9999ff;
}

.text-primary-dark-6 {
  color: #000066;
}

.bg-primary-dark-6 {
  background-color: #000066;
}

.text-primary-light-7 {
  color: #b3b3ff;
}

.bg-primary-light-7 {
  background-color: #b3b3ff;
}

.text-primary-dark-7 {
  color: #00004d;
}

.bg-primary-dark-7 {
  background-color: #00004d;
}

.text-primary-light-8 {
  color: #ccccff;
}

.bg-primary-light-8 {
  background-color: #ccccff;
}

.text-primary-dark-8 {
  color: #000033;
}

.bg-primary-dark-8 {
  background-color: #000033;
}

.text-primary-light-9 {
  color: #e6e6ff;
}

.bg-primary-light-9 {
  background-color: #e6e6ff;
}

.text-primary-dark-9 {
  color: #00001a;
}

.bg-primary-dark-9 {
  background-color: #00001a;
}

.text-secondary {
  color: grey;
}

.text-hover-secondary:hover {
  color: grey;
}

.bg-secondary {
  background-color: grey;
}

.text-secondary-light-1 {
  color: #8d8d8d;
}

.bg-secondary-light-1 {
  background-color: #8d8d8d;
}

.text-secondary-dark-1 {
  color: #737373;
}

.bg-secondary-dark-1 {
  background-color: #737373;
}

.text-secondary-light-2 {
  color: #999999;
}

.bg-secondary-light-2 {
  background-color: #999999;
}

.text-secondary-dark-2 {
  color: #666666;
}

.bg-secondary-dark-2 {
  background-color: #666666;
}

.text-secondary-light-3 {
  color: #a6a6a6;
}

.bg-secondary-light-3 {
  background-color: #a6a6a6;
}

.text-secondary-dark-3 {
  color: #5a5a5a;
}

.bg-secondary-dark-3 {
  background-color: #5a5a5a;
}

.text-secondary-light-4 {
  color: #b3b3b3;
}

.bg-secondary-light-4 {
  background-color: #b3b3b3;
}

.text-secondary-dark-4 {
  color: #4d4d4d;
}

.bg-secondary-dark-4 {
  background-color: #4d4d4d;
}

.text-secondary-light-5 {
  color: silver;
}

.bg-secondary-light-5 {
  background-color: silver;
}

.text-secondary-dark-5 {
  color: #404040;
}

.bg-secondary-dark-5 {
  background-color: #404040;
}

.text-secondary-light-6 {
  color: #cccccc;
}

.bg-secondary-light-6 {
  background-color: #cccccc;
}

.text-secondary-dark-6 {
  color: #333333;
}

.bg-secondary-dark-6 {
  background-color: #333333;
}

.text-secondary-light-7 {
  color: #d9d9d9;
}

.bg-secondary-light-7 {
  background-color: #d9d9d9;
}

.text-secondary-dark-7 {
  color: #262626;
}

.bg-secondary-dark-7 {
  background-color: #262626;
}

.text-secondary-light-8 {
  color: #e6e6e6;
}

.bg-secondary-light-8 {
  background-color: #e6e6e6;
}

.text-secondary-dark-8 {
  color: #1a1a1a;
}

.bg-secondary-dark-8 {
  background-color: #1a1a1a;
}

.text-secondary-light-9 {
  color: #f2f2f2;
}

.bg-secondary-light-9 {
  background-color: #f2f2f2;
}

.text-secondary-dark-9 {
  color: #0d0d0d;
}

.bg-secondary-dark-9 {
  background-color: #0d0d0d;
}

.text-tertiary {
  color: green;
}

.text-hover-tertiary:hover {
  color: green;
}

.bg-tertiary {
  background-color: green;
}

.text-tertiary-light-1 {
  color: #1a8d1a;
}

.bg-tertiary-light-1 {
  background-color: #1a8d1a;
}

.text-tertiary-dark-1 {
  color: #007300;
}

.bg-tertiary-dark-1 {
  background-color: #007300;
}

.text-tertiary-light-2 {
  color: #339933;
}

.bg-tertiary-light-2 {
  background-color: #339933;
}

.text-tertiary-dark-2 {
  color: #006600;
}

.bg-tertiary-dark-2 {
  background-color: #006600;
}

.text-tertiary-light-3 {
  color: #4da64d;
}

.bg-tertiary-light-3 {
  background-color: #4da64d;
}

.text-tertiary-dark-3 {
  color: #005a00;
}

.bg-tertiary-dark-3 {
  background-color: #005a00;
}

.text-tertiary-light-4 {
  color: #66b366;
}

.bg-tertiary-light-4 {
  background-color: #66b366;
}

.text-tertiary-dark-4 {
  color: #004d00;
}

.bg-tertiary-dark-4 {
  background-color: #004d00;
}

.text-tertiary-light-5 {
  color: #80c080;
}

.bg-tertiary-light-5 {
  background-color: #80c080;
}

.text-tertiary-dark-5 {
  color: #004000;
}

.bg-tertiary-dark-5 {
  background-color: #004000;
}

.text-tertiary-light-6 {
  color: #99cc99;
}

.bg-tertiary-light-6 {
  background-color: #99cc99;
}

.text-tertiary-dark-6 {
  color: #003300;
}

.bg-tertiary-dark-6 {
  background-color: #003300;
}

.text-tertiary-light-7 {
  color: #b3d9b3;
}

.bg-tertiary-light-7 {
  background-color: #b3d9b3;
}

.text-tertiary-dark-7 {
  color: #002600;
}

.bg-tertiary-dark-7 {
  background-color: #002600;
}

.text-tertiary-light-8 {
  color: #cce6cc;
}

.bg-tertiary-light-8 {
  background-color: #cce6cc;
}

.text-tertiary-dark-8 {
  color: #001a00;
}

.bg-tertiary-dark-8 {
  background-color: #001a00;
}

.text-tertiary-light-9 {
  color: #e6f2e6;
}

.bg-tertiary-light-9 {
  background-color: #e6f2e6;
}

.text-tertiary-dark-9 {
  color: #000d00;
}

.bg-tertiary-dark-9 {
  background-color: #000d00;
}

.text-error {
  color: red;
}

.text-hover-error:hover {
  color: red;
}

.bg-error {
  background-color: red;
}

.text-error-light-1 {
  color: #ff1a1a;
}

.bg-error-light-1 {
  background-color: #ff1a1a;
}

.text-error-dark-1 {
  color: #e60000;
}

.bg-error-dark-1 {
  background-color: #e60000;
}

.text-error-light-2 {
  color: #ff3333;
}

.bg-error-light-2 {
  background-color: #ff3333;
}

.text-error-dark-2 {
  color: #cc0000;
}

.bg-error-dark-2 {
  background-color: #cc0000;
}

.text-error-light-3 {
  color: #ff4d4d;
}

.bg-error-light-3 {
  background-color: #ff4d4d;
}

.text-error-dark-3 {
  color: #b30000;
}

.bg-error-dark-3 {
  background-color: #b30000;
}

.text-error-light-4 {
  color: #ff6666;
}

.bg-error-light-4 {
  background-color: #ff6666;
}

.text-error-dark-4 {
  color: #990000;
}

.bg-error-dark-4 {
  background-color: #990000;
}

.text-error-light-5 {
  color: #ff8080;
}

.bg-error-light-5 {
  background-color: #ff8080;
}

.text-error-dark-5 {
  color: maroon;
}

.bg-error-dark-5 {
  background-color: maroon;
}

.text-error-light-6 {
  color: #ff9999;
}

.bg-error-light-6 {
  background-color: #ff9999;
}

.text-error-dark-6 {
  color: #660000;
}

.bg-error-dark-6 {
  background-color: #660000;
}

.text-error-light-7 {
  color: #ffb3b3;
}

.bg-error-light-7 {
  background-color: #ffb3b3;
}

.text-error-dark-7 {
  color: #4d0000;
}

.bg-error-dark-7 {
  background-color: #4d0000;
}

.text-error-light-8 {
  color: #ffcccc;
}

.bg-error-light-8 {
  background-color: #ffcccc;
}

.text-error-dark-8 {
  color: #330000;
}

.bg-error-dark-8 {
  background-color: #330000;
}

.text-error-light-9 {
  color: #ffe6e6;
}

.bg-error-light-9 {
  background-color: #ffe6e6;
}

.text-error-dark-9 {
  color: #1a0000;
}

.bg-error-dark-9 {
  background-color: #1a0000;
}

.text-info {
  color: yellow;
}

.text-hover-info:hover {
  color: yellow;
}

.bg-info {
  background-color: yellow;
}

.text-info-light-1 {
  color: #ffff1a;
}

.bg-info-light-1 {
  background-color: #ffff1a;
}

.text-info-dark-1 {
  color: #e6e600;
}

.bg-info-dark-1 {
  background-color: #e6e600;
}

.text-info-light-2 {
  color: #ffff33;
}

.bg-info-light-2 {
  background-color: #ffff33;
}

.text-info-dark-2 {
  color: #cccc00;
}

.bg-info-dark-2 {
  background-color: #cccc00;
}

.text-info-light-3 {
  color: #ffff4d;
}

.bg-info-light-3 {
  background-color: #ffff4d;
}

.text-info-dark-3 {
  color: #b3b300;
}

.bg-info-dark-3 {
  background-color: #b3b300;
}

.text-info-light-4 {
  color: #ffff66;
}

.bg-info-light-4 {
  background-color: #ffff66;
}

.text-info-dark-4 {
  color: #999900;
}

.bg-info-dark-4 {
  background-color: #999900;
}

.text-info-light-5 {
  color: #ffff80;
}

.bg-info-light-5 {
  background-color: #ffff80;
}

.text-info-dark-5 {
  color: olive;
}

.bg-info-dark-5 {
  background-color: olive;
}

.text-info-light-6 {
  color: #ffff99;
}

.bg-info-light-6 {
  background-color: #ffff99;
}

.text-info-dark-6 {
  color: #666600;
}

.bg-info-dark-6 {
  background-color: #666600;
}

.text-info-light-7 {
  color: #ffffb3;
}

.bg-info-light-7 {
  background-color: #ffffb3;
}

.text-info-dark-7 {
  color: #4d4d00;
}

.bg-info-dark-7 {
  background-color: #4d4d00;
}

.text-info-light-8 {
  color: #ffffcc;
}

.bg-info-light-8 {
  background-color: #ffffcc;
}

.text-info-dark-8 {
  color: #333300;
}

.bg-info-dark-8 {
  background-color: #333300;
}

.text-info-light-9 {
  color: #ffffe6;
}

.bg-info-light-9 {
  background-color: #ffffe6;
}

.text-info-dark-9 {
  color: #1a1a00;
}

.bg-info-dark-9 {
  background-color: #1a1a00;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: grey;
}

.btn-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}